

.fadein{
    animation: 1.4s cubic-bezier(0.76, 0, 0.24, 1) 0ms 1 normal forwards running fadeInBlur;
}

@keyframes fadeInBlur{
    from{
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(10px);

    }
    to{
        transform: none;
    }
    
}

.slide-right{
    animation-duration: 0.5s;
    animation-name: slide-right;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes slide-right {
    from{
        opacity:0;
        transform: translateX(-100%);

    }
    to{
        opacity: 1;
        transform: translateX(none);

    }
    
}